<ion-view title="Salmos Agora" id="page1">
	<ion-content scroll="false">
		<div align="center" class="list-inset">
			<h4>Welcome</h4>
			<h5>- leia seus salmos preferidos aqui -</h5>
			</br>
			<a ui-sref="psalmgrid" class="button icon-left ion-ios-list-outline button-outline button-large button-block col-40 button-calm">
				index
			</a>
			</br>
			<a ui-sref="psalm({psalmId: v_random})" class="button icon-left ion-ios-shuffle-strong button-outline button-large button-block col-40 button-calm">
				random
			</a>
			</br>
			<a ui-sref="profile" class="button icon-left ion-person-stalker button-clear button-block button-calm col-40">
				profile
			</a>
		</div>
	</ion-content>
</ion-view>