<ion-view title="Psalms Today" id="page1">
	<ion-content>
		<div align=center class="list list-inset">
			<h4>Welcome</h4>
			<h5>- read your favorite psalms here -</h5>
		</div>
		<br>
		<div align=center class="list list-inset">
			<a ui-sref="psalmgrid" class="button icon-left ion-ios-list-outline button-outline button-large button-calm" >
				index
			</a>
		</div>
		<br>
		<div align=center class="list list-inset">
			<button class="button icon-left ion-refresh button-outline button-large button-calm">
				random
			</button>
		</div>
	</ion-content>
</ion-view>