<ion-view title="Salmos Agora" id="page1">
	<ion-content scroll="false">
		<div align="center" class="list-inset">
			<h5>Ajude-nos a te conhecer melhor!</h5>
			</br>
			<h6>Preencha seu perfil.</h6>
			<h6>Clique OK para ser direcionado e responder nosso formulário.</h6>
		</div>
		<div align="center" class="list-inset">
			<a href="#" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSdhpCINBsZRFu8znz0q-rYI6RvOk0dOXdNI8C3nVsSXnDhvSg/viewform?usp=sf_link', '_system', 'location=yes'); return false;"
			   class="button button-block button-calm">
				OK!
			</a>
		</div>
	</ion-content>
</ion-view>