<ion-view title="Salmos Agora" id="page1">
	<ion-content scroll="false">
		<div align="center" class="list-inset">
			<h5>Help us get to know you better!</h5>
			</br>
			<h6>Fill out your profile.</h6>
			<h6>Click OK to be redirected and answer our profile forms.</h6>
		</div>
		<div align="center" class="list-inset">
			<a href="#" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSdRRMiSmlahoxldmrQoLWWmcqngPIkYUD-WTH1lDG3mWZlpWw/viewform?usp=sf_link', '_system', 'location=yes'); return false;"
			   class="button button-block button-calm">
				OK!
			</a>
		</div>
	</ion-content>
</ion-view>