<ion-view title="Psalms Today" id="page1">
	<ion-content scroll="false">
		<div align="center" class="list-inset">
			<h5>Help us get to know you better</h5>
			<h6>fill out your profile</h6>
		</div>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" id="name" placeholder="abc ...">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Age</span>
				<input type="number" id="age" placeholder="00" min="1" max="150">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">City/State</span>
				<input type="text" id="location" placeholder="New York/NY">
			</label>
			<div align="center" class="list-inset">
				<h6>Tell us your history! </h6>
				<h6>A Psalm helped you in a difficult moment of your life?</h6>
			</div>
  			<label class="item item-input item-stacked-label">
    			<textarea id="text" placeholder="..."></textarea>
  			</label>
		</div>
		<div align="center" class="list-inset">
			<a class="button button-block button-calm">
				Send
			</a>
		</div>
	</ion-content>
</ion-view>