<ion-view title="Psalms Today" id="page3">
	<ion-slides options="sliderOptions" slider="data.slider" style="max-height:81%">
		<ion-slide-page ng-repeat="v in psalm.verses">
			<ion-content>
				<div align="center" class="list">
					<br>
				</div>
				<div class="card list" style="background-color:#cccccc" align="center">
					<div class="item item-divider">
						<h2 class="calm">Psalm {{psalm.id}}: {{v.id}}</h2>
					</div>
					<div class="item item-text-wrap">
						<h2>{{v.text}}</h2>
					</div>
				</div>
			</ion-content>
		</ion-slide-page>
	</ion-slides>
	<div>
		<div class="calm padding row">
			<a ui-sref="psalm({psalmId: v_random})" class="button button-icon icon ion-ios-shuffle-strong positive col">
				random
			</a>
			<a ui-sref="home" class="button button-icon icon ion-home positive col">
			</a>
			<a class="button button-icon icon ion-share positive col" ng-click="share()">
				share
			</a>
		</div>
		<div class="bar bar-footer bar-calm">
			<a ui-sref="psalm({psalmId: psalm.id-1})" class="button button-icon ion-arrow-left-c">
			</a>
			<div class="title">
				{{psalm.id}} / 150
			</div>
			<a ui-sref="psalm({psalmId: psalm.id+1})" class="button button-icon ion-arrow-right-c">
			</a>
		</div>
	</div>	
</ion-view>