<ion-view title="Psalms" id="page3">
		<ion-slides options="sliderOptions" slider="data.slider" >			
			<ion-slide-page ng-repeat="v in psalm.verses">
				<ion-content>
					<div align="center" class="list">
						<h4 class="calm">Psalm {{psalm.id}}</h4>
					</div>
					
					<div class="card list" style="background-color:#cccccc" align="center">
						<div class="item item-divider">
							<h2>Verse {{v.id}}</h2>
						</div>
						<div class="item item-text-wrap">
							<h2>{{v.text}}</h2>
						</div>
					</div>

				</ion-content>
			</ion-slide-page>
		</ion-slides>
	
	<div class="bar bar-footer bar-calm">
		<a ui-sref="psalm({psalmId: psalm.id-1})" class="button button-icon ion-arrow-left-c">
		</a>
		<div class="title">
			{{psalm.id}} / 150
		</div>
		<a ui-sref="psalm({psalmId: psalm.id+1})" class="button button-icon ion-arrow-right-c">
		</a>
	</div>	
</ion-view>