<ion-view title="Psalms" id="page3">
	<ion-content>
		<ion-slides options="sliderOptions" slider="data.slider" >			
			<ion-slide-page ng-repeat="v in psalm.verses">
				<div style="background-color:#cccccc" align=center class="list">
					<h4 class="calm">Psalm #{{psalm.id}}</h4>
					</br>
					<h4 class="calm">Verse #{{v.id}}</h4>
				</div>
				<div style="background-color:#cccccc" align=center>
					<h5>{{v.text}}</h5>
				</div>
			</ion-slide-page>
		</ion-slides>
	</ion-content>
</ion-view>