<ion-view title="Salmos Agora" id="page2">
	<ion-slides options="sliderIndexOptions" slider="data.slider">
		<!-- page_1 -->
		<ion-slide-page>
			<ion-content>
				<div align=center class="list list-inset">
					<h4>Escolha um salmo para ler</h4>
					<h5>&nbsp&nbsp&nbsp1 - 52&nbsp&nbsp&nbsp<i class="ion-arrow-right-b"></i></h5>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 1})" class="button button-grid button-calm">
						1
					</a>
					<a ui-sref="psalm({psalmId: 2})" class="button button-grid button-calm">
						2
					</a>
					<a ui-sref="psalm({psalmId: 3})" class="button button-grid button-calm" >
						3
					</a>
					<a ui-sref="psalm({psalmId: 4})" class="button button-grid button-calm">
						4
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 5})" class="button button-grid button-calm">
						5
					</a>
					<a ui-sref="psalm({psalmId: 6})" class="button button-grid button-calm">
						6
					</a>
					<a ui-sref="psalm({psalmId: 7})" class="button button-grid button-calm">
						7
					</a>
					<a ui-sref="psalm({psalmId: 8})" class="button button-grid button-calm">
						8
					</a>					
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 9})" class="button button-grid button-calm" >
						9
					</a>
					<a ui-sref="psalm({psalmId: 10})" class="button button-grid button-calm">
						10
					</a>
					<a ui-sref="psalm({psalmId: 11})" class="button button-grid button-calm">
						11
					</a>
					<a ui-sref="psalm({psalmId: 12})" class="button button-grid button-calm">
						12
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 13})" class="button button-grid button-calm">
						13
					</a>
					<a ui-sref="psalm({psalmId: 14})" class="button button-grid button-calm">
						14
					</a>
					<a ui-sref="psalm({psalmId: 15})" class="button button-grid button-calm" >
						15
					</a>
					<a ui-sref="psalm({psalmId: 16})" class="button button-grid button-calm">
						16
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 17})" class="button button-grid button-calm">
						17
					</a>
					<a ui-sref="psalm({psalmId: 18})" class="button button-grid button-calm">
						18
					</a>
					<a ui-sref="psalm({psalmId: 19})" class="button button-grid button-calm">
						19
					</a>
					<a ui-sref="psalm({psalmId: 20})" class="button button-grid button-calm">
						20
					</a>
				</div>	
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 21})" class="button button-grid button-calm" >
						21
					</a>
					<a ui-sref="psalm({psalmId: 22})" class="button button-grid button-calm">
						22
					</a>
					<a ui-sref="psalm({psalmId: 23})" class="button button-grid button-calm">
						23
					</a>
					<a ui-sref="psalm({psalmId: 24})" class="button button-grid button-calm">
						24
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 25})" class="button button-grid button-calm">
						25
					</a>
					<a ui-sref="psalm({psalmId: 26})" class="button button-grid button-calm">
						26
					</a>
					<a ui-sref="psalm({psalmId: 27})" class="button button-grid button-calm" >
						27
					</a>
					<a ui-sref="psalm({psalmId: 28})" class="button button-grid button-calm">
						28
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 29})" class="button button-grid button-calm">
						29
					</a>
					<a ui-sref="psalm({psalmId: 30})" class="button button-grid button-calm">
						30
					</a>
					<a ui-sref="psalm({psalmId: 31})" class="button button-grid button-calm">
						31
					</a>
					<a ui-sref="psalm({psalmId: 32})" class="button button-grid button-calm">
						32
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 33})" class="button button-grid button-calm" >
						33
					</a>
					<a ui-sref="psalm({psalmId: 34})" class="button button-grid button-calm">
						34
					</a>
					<a ui-sref="psalm({psalmId: 35})" class="button button-grid button-calm">
						35
					</a>
					<a ui-sref="psalm({psalmId: 36})" class="button button-grid button-calm">
						36
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 37})" class="button button-grid button-calm">
						37
					</a>
					<a ui-sref="psalm({psalmId: 38})" class="button button-grid button-calm">
						38
					</a>
					<a ui-sref="psalm({psalmId: 39})" class="button button-grid button-calm" >
						39
					</a>
					<a ui-sref="psalm({psalmId: 40})" class="button button-grid button-calm">
						40
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 41})" class="button button-grid button-calm">
						41
					</a>
					<a ui-sref="psalm({psalmId: 42})" class="button button-grid button-calm">
						42
					</a>
					<a ui-sref="psalm({psalmId: 43})" class="button button-grid button-calm">
						43
					</a>
					<a ui-sref="psalm({psalmId: 44})" class="button button-grid button-calm">
						44
					</a>					
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 45})" class="button button-grid button-calm" >
						45
					</a>
					<a ui-sref="psalm({psalmId: 46})" class="button button-grid button-calm">
						46
					</a>
					<a ui-sref="psalm({psalmId: 47})" class="button button-grid button-calm">
						47
					</a>
					<a ui-sref="psalm({psalmId: 48})" class="button button-grid button-calm">
						48
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 49})" class="button button-grid button-calm">
						49
					</a>
					<a ui-sref="psalm({psalmId: 50})" class="button button-grid button-calm">
						50
					</a>
					<a ui-sref="psalm({psalmId: 51})" class="button button-grid button-calm" >
						51
					</a>
					<a ui-sref="psalm({psalmId: 52})" class="button button-grid button-calm">
						52
					</a>					
				</div>
				</br></br>
			</ion-content>
		</ion-slide-page>


		<!-- page_2 -->
		<ion-slide-page>
			<ion-content>
				<div align=center class="list list-inset">
					<h4>Escolha um salmo para ler</h4>
					<h5><i class="ion-arrow-left-b"></i>&nbsp&nbsp&nbsp53 - 104&nbsp&nbsp&nbsp<i class="ion-arrow-right-b"></i></h5>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 53})" class="button button-grid button-calm">
						53
					</a>
					<a ui-sref="psalm({psalmId: 54})" class="button button-grid button-calm">
						54
					</a>
					<a ui-sref="psalm({psalmId: 55})" class="button button-grid button-calm" >
						55
					</a>
					<a ui-sref="psalm({psalmId: 56})" class="button button-grid button-calm">
						56
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 57})" class="button button-grid button-calm">
						57
					</a>
					<a ui-sref="psalm({psalmId: 58})" class="button button-grid button-calm">
						58
					</a>
					<a ui-sref="psalm({psalmId: 59})" class="button button-grid button-calm">
						59
					</a>
					<a ui-sref="psalm({psalmId: 60})" class="button button-grid button-calm">
						60
					</a>					
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 61})" class="button button-grid button-calm" >
						61
					</a>
					<a ui-sref="psalm({psalmId: 62})" class="button button-grid button-calm">
						62
					</a>
					<a ui-sref="psalm({psalmId: 63})" class="button button-grid button-calm">
						63
					</a>
					<a ui-sref="psalm({psalmId: 64})" class="button button-grid button-calm">
						64
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 65})" class="button button-grid button-calm">
						65
					</a>
					<a ui-sref="psalm({psalmId: 66})" class="button button-grid button-calm">
						66
					</a>
					<a ui-sref="psalm({psalmId: 67})" class="button button-grid button-calm" >
						67
					</a>
					<a ui-sref="psalm({psalmId: 68})" class="button button-grid button-calm">
						68
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 69})" class="button button-grid button-calm">
						69
					</a>
					<a ui-sref="psalm({psalmId: 70})" class="button button-grid button-calm">
						70
					</a>
					<a ui-sref="psalm({psalmId: 71})" class="button button-grid button-calm">
						71
					</a>
					<a ui-sref="psalm({psalmId: 72})" class="button button-grid button-calm">
						72
					</a>
				</div>	
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 73})" class="button button-grid button-calm" >
						73
					</a>
					<a ui-sref="psalm({psalmId: 74})" class="button button-grid button-calm">
						74
					</a>
					<a ui-sref="psalm({psalmId: 75})" class="button button-grid button-calm">
						75
					</a>
					<a ui-sref="psalm({psalmId: 76})" class="button button-grid button-calm">
						76
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 77})" class="button button-grid button-calm">
						77
					</a>
					<a ui-sref="psalm({psalmId: 78})" class="button button-grid button-calm">
						78
					</a>
					<a ui-sref="psalm({psalmId: 79})" class="button button-grid button-calm" >
						79
					</a>
					<a ui-sref="psalm({psalmId: 80})" class="button button-grid button-calm">
						80
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 81})" class="button button-grid button-calm">
						81
					</a>
					<a ui-sref="psalm({psalmId: 82})" class="button button-grid button-calm">
						82
					</a>
					<a ui-sref="psalm({psalmId: 83})" class="button button-grid button-calm">
						83
					</a>
					<a ui-sref="psalm({psalmId: 84})" class="button button-grid button-calm">
						84
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 85})" class="button button-grid button-calm" >
						85
					</a>
					<a ui-sref="psalm({psalmId: 86})" class="button button-grid button-calm">
						86
					</a>
					<a ui-sref="psalm({psalmId: 87})" class="button button-grid button-calm">
						87
					</a>
					<a ui-sref="psalm({psalmId: 88})" class="button button-grid button-calm">
						88
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 89})" class="button button-grid button-calm">
						89
					</a>
					<a ui-sref="psalm({psalmId: 90})" class="button button-grid button-calm">
						90
					</a>
					<a ui-sref="psalm({psalmId: 91})" class="button button-grid button-calm" >
						91
					</a>
					<a ui-sref="psalm({psalmId: 92})" class="button button-grid button-calm">
						92
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 93})" class="button button-grid button-calm">
						93
					</a>
					<a ui-sref="psalm({psalmId: 94})" class="button button-grid button-calm">
						94
					</a>
					<a ui-sref="psalm({psalmId: 95})" class="button button-grid button-calm">
						95
					</a>
					<a ui-sref="psalm({psalmId: 96})" class="button button-grid button-calm">
						96
					</a>					
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 97})" class="button button-grid button-calm" >
						97
					</a>
					<a ui-sref="psalm({psalmId: 98})" class="button button-grid button-calm">
						98
					</a>
					<a ui-sref="psalm({psalmId: 99})" class="button button-grid button-calm">
						99
					</a>
					<a ui-sref="psalm({psalmId: 100})" class="button button-grid button-calm">
						100
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 101})" class="button button-grid button-calm">
						101
					</a>
					<a ui-sref="psalm({psalmId: 102})" class="button button-grid button-calm">
						102
					</a>
					<a ui-sref="psalm({psalmId: 103})" class="button button-grid button-calm" >
						103
					</a>
					<a ui-sref="psalm({psalmId: 104})" class="button button-grid button-calm">
						104
					</a>					
				</div>
				</br></br>
			</ion-content>
		</ion-slide-page>
		<!-- page_3 -->
		<ion-slide-page>
			<ion-content>
				<div align=center class="list list-inset">
					<h4>Escolha um salmo para ler</h4>
					<h5><i class="ion-arrow-left-b"></i>&nbsp&nbsp&nbsp105 - 150&nbsp&nbsp&nbsp</h5>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 105})" class="button button-grid button-calm">
						105
					</a>
					<a ui-sref="psalm({psalmId: 106})" class="button button-grid button-calm">
						106
					</a>
					<a ui-sref="psalm({psalmId: 107})" class="button button-grid button-calm" >
						107
					</a>
					<a ui-sref="psalm({psalmId: 108})" class="button button-grid button-calm">
						108
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 109})" class="button button-grid button-calm">
						109
					</a>
					<a ui-sref="psalm({psalmId: 110})" class="button button-grid button-calm">
						110
					</a>
					<a ui-sref="psalm({psalmId: 111})" class="button button-grid button-calm">
						111
					</a>
					<a ui-sref="psalm({psalmId: 112})" class="button button-grid button-calm">
						112
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 113})" class="button button-grid button-calm" >
						113
					</a>
					<a ui-sref="psalm({psalmId: 114})" class="button button-grid button-calm">
						114
					</a>
					<a ui-sref="psalm({psalmId: 115})" class="button button-grid button-calm">
						115
					</a>
					<a ui-sref="psalm({psalmId: 116})" class="button button-grid button-calm">
						116
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 117})" class="button button-grid button-calm">
						117
					</a>
					<a ui-sref="psalm({psalmId: 118})" class="button button-grid button-calm">
						118
					</a>
					<a ui-sref="psalm({psalmId: 119})" class="button button-grid button-calm" >
						119
					</a>
					<a ui-sref="psalm({psalmId: 120})" class="button button-grid button-calm">
						120
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 121})" class="button button-grid button-calm">
						121
					</a>
					<a ui-sref="psalm({psalmId: 122})" class="button button-grid button-calm">
						122
					</a>
					<a ui-sref="psalm({psalmId: 123})" class="button button-grid button-calm">
						123
					</a>
					<a ui-sref="psalm({psalmId: 124})" class="button button-grid button-calm">
						124
					</a>
				</div>	
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 125})" class="button button-grid button-calm" >
						125
					</a>
					<a ui-sref="psalm({psalmId: 126})" class="button button-grid button-calm">
						126
					</a>
					<a ui-sref="psalm({psalmId: 127})" class="button button-grid button-calm">
						127
					</a>
					<a ui-sref="psalm({psalmId: 128})" class="button button-grid button-calm">
						128
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 129})" class="button button-grid button-calm">
						129
					</a>
					<a ui-sref="psalm({psalmId: 130})" class="button button-grid button-calm">
						130
					</a>
					<a ui-sref="psalm({psalmId: 131})" class="button button-grid button-calm" >
						131
					</a>
					<a ui-sref="psalm({psalmId: 132})" class="button button-grid button-calm">
						132
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 133})" class="button button-grid button-calm">
						133
					</a>
					<a ui-sref="psalm({psalmId: 134})" class="button button-grid button-calm">
						134
					</a>
					<a ui-sref="psalm({psalmId: 135})" class="button button-grid button-calm">
						135
					</a>
					<a ui-sref="psalm({psalmId: 136})" class="button button-grid button-calm">
						136
					</a>
				</div>		
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 137})" class="button button-grid button-calm" >
						137
					</a>
					<a ui-sref="psalm({psalmId: 138})" class="button button-grid button-calm">
						138
					</a>
					<a ui-sref="psalm({psalmId: 139})" class="button button-grid button-calm">
						139
					</a>
					<a ui-sref="psalm({psalmId: 140})" class="button button-grid button-calm">
						140
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 141})" class="button button-grid button-calm" >
						141
					</a>
					<a ui-sref="psalm({psalmId: 142})" class="button button-grid button-calm">
						142
					</a>
					<a ui-sref="psalm({psalmId: 143})" class="button button-grid button-calm">
						143
					</a>
					<a ui-sref="psalm({psalmId: 144})" class="button button-grid button-calm">
						144
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 145})" class="button button-grid button-calm" >
						145
					</a>
					<a ui-sref="psalm({psalmId: 146})" class="button button-grid button-calm">
						146
					</a>
					<a ui-sref="psalm({psalmId: 147})" class="button button-grid button-calm">
						147
					</a>
					<a ui-sref="psalm({psalmId: 148})" class="button button-grid button-calm">
						148
					</a>
				</div>
				<div class="button-bar">
					<a ui-sref="psalm({psalmId: 149})" class="button button-grid button-calm">
						149
					</a>
					<a ui-sref="psalm({psalmId: 150})" class="button button-grid button-calm">
						150
					</a>
					<a class="button-light button-grid">
					</a>
					<a class="button-light button-grid">
					</a>
				</div>
				</br></br>
			</ion-content>
		</ion-slide-page>
	</ion-slides>
</ion-view>