<ion-view>
	<ion-nav-title>Index</ion-nav-title>
	<ion-content>
		<br>
		<h5> List with all psalms, choose one: </h5>
		<br>
		<div class="button-bar">
			<a class="button button-grid button-calm" href="#/psalmgrid">
				1
			</a>
			<a class="button button-grid button-calm" href="#/psalmgrid">
				2
			</a>
			<a class="button button-grid button-calm" href="#/psalmgrid">
				3
			</a>
		</div>

		<div class="button-bar">
			<a class="button button-grid  button-calm" href="#/psalmgrid">
				4
			</a>
			<a class="button button-grid  button-calm" href="#/psalmgrid">
				5
			</a>
			<a class="button button-grid button-calm" href="#/psalmgrid">
				6
			</a>
		</div>




	</ion-content>
</ion-view>